<style>
table,th,td {
    border:2px solid black
}
</style>

<%=  "วิชาที่คะแนนมากที่สุด :#{@maxSubject}" %>
<br>
<%=  "คะแนนเฉลี่ย :#{@avgScore}" %>

<br><br>
<table>
    <th>Subject</th>
    <th>Score</th>
    <th>Edit</th>
    <th>Delete</th>
    <% @student.scores.each do |s| %>
        <tr>
            <td><%= s.subject%></td>
            <td><%= s.point %></td>
            <td><%= link_to 'EDIT', '/scores/' + s.id.to_s + '/edit?from_student_id='+ @student.id.to_s %></td>
            <td><%= button_to "DELETE", s, method: :delete %></td>
        </tr>
    <%end%>

</table>
<br>
<%= link_to 'NEW SUBJECT', '/scores/new?from_student_id='+ @student.id.to_s %>